body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main {
    display: flex;
}

#carte {
    border: 1px solid rgb(150, 141, 141);
    /* width: 35%; */
    padding: 0;
    margin: 0;
    width: auto;
}

.cases {
    padding: 23.5px;
    margin: 2px;
    border: 1px solid rgb(140, 148, 140);
    border-radius: 5px;
    opacity: 0.5;
}

#clicked {
    background-color: grey;
}

#message {
    border: 1px solid rgb(150, 141, 141);
    width: 45%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#info {
    /* border: 1px solid rgb(150, 141, 141); */
    width: 20%;
    padding: 0;
    margin: 0;
}