body {
    margin: 0;
}

#main {
    display: flex;
}

#carte {
    border: 1px solid rgb(150, 141, 141);
    width: 35%;
    padding: 0;
    margin: 0;
}

.cases {
    padding: 23.5px;
    margin: 2px;
    border: 1px solid rgb(140, 148, 140);
    border-radius: 5px;
}

#clicked {
    background-color: grey;
}

#message {
    border: 1px solid rgb(150, 141, 141);
    width: 45%;
}

#info {
    border: 1px solid rgb(150, 141, 141);
    width: 20%;
    padding: 0;
    margin: 0;
 
}