body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main {
    display: flex;
}

#carte {
    flex-direction: row;
    border: 1px solid rgb(150, 141, 141);
    padding: 0;
    margin: 10px;
    width: auto 100%;
}

.row {
    width: auto;
    display: flex;
    flex-direction: row;
}

.cases {
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 1px solid rgb(140, 148, 140);
    border-radius: 5%;
    opacity: 0.5;
}

#clicked {
    background-color: grey;
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 1px solid rgb(140, 148, 140);
    border-radius: 5%;
    opacity: 0.5;
}

/* .cases_unvalaible {
} */

#message {
    /* border: 1px solid rgb(150, 141, 141); */
    margin: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#info {
    /* border: 1px solid rgb(150, 141, 141); */
    width: 20%;
    padding: 0;
    margin: 0;
}